* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    cursor: pointer;
    color: #17233D;
    margin-right: 32px;
}

.link-header-button {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px0;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF
}

img {
    display: inline-block;
    margin: 163px 0 0 123px;
}

div {
    width: 433px;
    margin-left: 84px;
    display: inline-block;
    margin-left: 85px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.learn-more {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
    background: transparent;
    border: none;

}

@media screen and (max-width:900px) {

    .header-left {
        width: 50%;
        height: 50%;
        margin: 0;
        padding: 0;
        

    }

    img {
        position: static;
        max-width: 90%;


    }

    .div-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;

    }

    header {
        display: inline;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 58px 0 50px;
        text-align: center;

    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;

    }

    button {
        margin: auto;
        display: inline;

    }

}


